body{
	height: 10000px;
	background-color: rgb(190, 114, 28);
	 
}
 
#im{
	max-width: 1000px;
	min-width: 100px;
	position: sticky;
	top: 100px;
	left: 50;
}

.unu{
	width: 500px;
}
.bb{
	background-color: black;
}